[Unit]
Description=MQTT Link for Mobilus Cosmo GTW
After=network.target

StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
ExecStart=/usr/local/bin/moblink
EnvironmentFile=/etc/moblink.conf
Restart=always
RestartSec=1
RestartSteps=10
RestartMaxDelaySec=120

[Install]
WantedBy=multi-user.target
